.body{
    background-color: #001f3d;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    height: 100vh;
}

.paragraph-1{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    margin: auto auto auto 40px;
}

.text-1{
    font-size: x-large;
    color: white;
    font-family: "Open Sans", "Helvetica Neue", Arial, Helvetica, sans-serif;
    margin-left: auto;
}

.text-2{
    font-size: xx-large;
    font-weight: bold;
    color: white;
    font-family: "Open Sans", "Helvetica Neue", Arial, Helvetica, sans-serif;
}

.image{
    margin: 40px;
}