.logo{
    color: white;
    font-size: xxx-large;
    font-weight: bold;
    letter-spacing: 4px;
    font-family: "Open Sans", "Helvetica Neue", Arial, Helvetica, sans-serif;
    margin-left: 10px;
    margin-bottom: 20px;
    margin-top: 20px;
}